.card {
  //FUNCTIONALITY
  perspective: 150rem;

  height: 0rem; //collapse
  width: 100%;

  position: relative;

  &__1 {
    position: absolute;
    left: 5%;
  }
  &__2 {
    position: absolute;
    left: 37.5%;
  }
  &__3 {
    position: absolute;
    left: 70%;
  }

  &__side {
    height: 50rem;
    width: 34rem;
    transition: all 0.8s ease;
    color: black;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  //   &:hover &__side--front {
  //     transform: rotateY(-180deg);
  //   }
  //   &:hover &__side--back {
  //     transform: rotateY(0);
  //   }
  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg); //////////////GET FREE IMAGES OFF UNSPLASH.COM
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg); //////////////GET FREE IMAGES OFF UNSPLASH.COM
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
      //////////////GET FREE IMAGES OFF UNSPLASH.COM
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.8),
        rgba($color-tertiary-dark, 0.8)
      );
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    padding: 2rem;
    ul {
      list-style: none;
      width: 80%;
      font-size: 1.5rem;
      color: $color-grey-dark;
      text-align: center;
      line-height: 3;

      li:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }

  //BACK SIDE STYLING
  &__cta {
  }
  &__price-box {
    display: flex;
    flex-direction: column;
    color: $color-white;
  }
  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 35%;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-top: 1.2rem;
    margin-bottom: 20%;
  }
}
///////////////////////////////////////
/////////ROTATION EFFECTS
.card__1:hover .card__side--front-1 {
  transform: rotateY(-180deg);
}
.card__1:hover .card__side--back-1 {
  transform: rotateY(0);
}

.card__2:hover .card__side--front-2 {
  transform: rotateY(-180deg);
}
.card__2:hover .card__side--back-2 {
  transform: rotateY(0);
}

.card__3:hover .card__side--front-3 {
  transform: rotateY(-180deg);
}
.card__3:hover .card__side--back-3 {
  transform: rotateY(0);
}
