.composition {
  //   display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80rem;
  width: 80rem;

  &__photo {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;

    &--1 {
      top: -2rem;
      left: 10rem;
    }

    &--2 {
      top: 10.5rem;
      left: 20rem;
    }

    &--3 {
      left: 35rem;
      top: 2rem;
    }

    //IMPLEMENT HOVER BORDER AND SCALE INCREASE ANIMATIONS
  }
}
