.description {
  width: 38%;
  //transform: translateX(-5rem);
  margin-left: 12rem;
}

.description-photo-container {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}
.section-about {
  margin-top: 11rem;
}
