.description {
  width: 48%;
  //transform: translateX(-5rem);
}

.description-photo-container {
  display: flex;
  flex-direction: row;
}
.section-about {
  margin-top: 11rem;
  width: 85%;
}

.section-features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 100%;
  height: 85rem;
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    //in rgba(color, 0.8) the 0.8 defines the opacity of the colour;
    url(../img/nat-4.jpg);
  background-size: cover;

  clip-path: polygon(0 18%, 100% 0, 100% 85%, 0 100%);
}

.section-tours {
  background-color: lightblue;
  padding: 10rem 0;
  width: 100%;
}
